.signin {
  &__header {
    margin: 1rem 0;
  }
  &__header-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__header-text--error {
    color: rgb(160, 5, 5);
    text-align: center;
  }
}
